{% extends "base.html" %}

{% block navigation %}
<ul>
  <li><a href="{% url 'home' %}">Home Page</a></li>
  <li><a href="{% url 'addplan' %}">Add Plan</a></li>
  <li><a class="active" href="{% url 'addnote' %}">Add Note</a></li>
  <li><a href="{% url 'myschedule_plan' %}">My Schedule</a></li>
  <li><a href="{% url 'travelnotes' %}">Travel Notes</a></li>
  <li><a href="{% url 'travelplans' %}">Travel Plans</a></li>
  <ul class="right">
    <li><a class="dropdown-toggle" data-toggle="dropdown">{{username}}<span class="caret"></span></a></li>
  </ul>
</ul>
{% endblock %}

{% block content %}
<div class = "row">
  <div class = "col-sm-8 box1">
    {% for error in form.non_field_errors %}
    <p style="color: red">
      {{ error }}
    </p>
    {% endfor %}

<h3>{{noteid}}</h3>


{% if note.note_title %}
<h3>{{note.note_title}}</h3>
{% endif %}
{% if note.title_image %}
<img src="{{note.title_image}}" width="800px" height="300px">
{% endif %}

{% if notedetails %}
{% for notedetail in notedetails %}
Place: {{notedetail.place}}
Time: {{notedetail.time}}
{{notedetail.content}}
{{notedetail.cost}}
{% endfor %}
{% endif %}

<form enctype="multipart/form-data" method="post" action="{% url 'addnote' %}">
  <table>
    {% for field in form.visible_fields %}
    <tr>
      <td>{{field.label_tag}}</td>
      <td>{{field}}</td>
      <td style="color: red">{{field.errors}}</td>
    </tr>
    {% endfor %}
    <tr>
    {% for field in form.hidden_fields %}
    {{field}}
    {% endfor %}
    {% csrf_token %}
  </tr>
  </table>
  <div id='NoteForm'>
  </div>
  <input type="button" value="Add A Day" onClick="addNoteForm('NoteForm')">
  <input type="submit" value="Save Note">
</form>   
<a href="{% url 'home' %}"> <button>Cancel</button></a>
</div>

  <div class = "col-sm-4 box1">
    <p>Save</p>
    <hr>
    <p>Cancel</p>
  </div>
</div>

{% endblock %}
