{% extends "base.html" %}
{% block head_src %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM"></script>
    <script type="text/javascript" src="/static/js/USA_State.json"></script>
    <script type="text/javascript" src="/static/js/USA_County.json"></script>
    <script type="text/javascript" src="/static/js/mapProcess.js"></script>
    <script>
    set_Parameters('{% url 'search_destination' %}')
    </script>
{% endblock %}
{% block navigation %}
<ul>
  <li><a href="{% url 'home' %}">Home Page</a></li>
  <li><a class="active" href="{% url 'addplan' %}">Add Plan</a></li>
  <li><a href="{% url 'addnote' %}">Add Note</a></li>
  <li><a href="{% url 'myschedule_plan' %}">My Schedule</a></li>
  <li><a href="{% url 'travelnotes' %}">Travel Notes</a></li>
  <li><a href="{% url 'travelplans' %}">Travel Plans</a></li>
  <ul class="right">
    <li><a class="dropdown-toggle" data-toggle="dropdown">{{username}}<span class="caret"></span></a></li>
  </ul>
</ul>
{% endblock %}

{% block content %}
<div class = "row">
  <div class = "col-sm-8 box1">
      <div id="map_canvas" style="height:350px;"></div>
      <div class = "col-sm-4 box1">
          County: <input type="text" id="county">
          State: <input type="text" id="state">
          <select name="places" id="destination">
              <option value="museum">Museum</option>
              <option value="restaurant">Restaurant</option>
              <option value="zoo">Zoo</option>
          </select>
          <button id="submit" onclick="findPlace()" >Search</button>
      </div>
      <div class = "col-sm-8 box1" id="add_plan_search_places">
      </div>
  </div>
  <div class = "col-sm-4 box1">
    {% for error in form.non_field_errors %}
    <p style="color: red">
      {{ error }}
    </p>
    {% endfor %}
    <form enctype="multipart/form-data" method="post" action="{% url 'addplan' %}">
      <table>
        {% for field in form.visible_fields %}
        <tr>
         <td>{{field.label_tag}}</td>
         <td>{{field}}</td>
         <td style="color: red">{{field.errors}}</td>
       </tr>
       {% endfor %}
     </table>
     {% for field in form.hidden_fields %}
     {{field}}
     {% endfor %}
     {% csrf_token %}
     <div id='PlanForm'>
     </div>
     <input type="button" value="Add A Day" onClick="addPlanForm('PlanForm')">
     <input type= "button" value="Delete A Day" onClick="deletePlanForm('PlanForm')">
     <input type="submit" value="Save">
   </form>
  </div>
</div>
<div class = "row">
  <div class = "col-sm-6 box1">
    <h4> Restaurant </h4>
    <div id ="restaurant">
    </div>
  </div>
  <div class = "col-sm-6 box1">
    <h4> Hotel </h4>
    <div id ="hotel">
    </div>
  </div>
</div>

{% endblock %}
