{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name= "author" content ="Yumeng Xie">
  <title>edit profile</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/gotravel.css"%}">
</head>

<body class='bg'>
<p class = 'navigation'>
<ul>
  <li><a class="active" href="{% url 'editprofile' %}">Edit Profile</a></li>
  <li><a href="{% url 'home' %}">Home Page</a></li>
  <ul class="right">
    <li><a href="{% url 'logout' %}">Logout</a></li>
  </ul>
</ul>
</p>

{% for error in form.non_field_errors %}
<p style="color: red">
{{ error }}
</p>
{% endfor %}

<div class = "center">

{% if user_profile.image_url %}
<img src="{{user_profile.image_url}}" width="200px">
{% endif %}
<form enctype="multipart/form-data" method="post" action="{% url 'editprofile' %}">

<table>
{% for field in form.visible_fields %}
<tr>
  <td>{{field.label_tag}}</td>
  <td>{{field}}</td>
  <td style="color: red">{{field.errors}}</td>
</tr>
{% endfor %}
</table>

{% for field in form.hidden_fields %}
{{field}}
{% endfor %}
{% csrf_token %}
<input type="submit" value="Save" />

</form>
<a href="{% url 'home' %}"> <button>Cancel</button></a>
</div>

</body>
</html>