{% extends "base.html" %}

{% block navigation %}
<ul>
  <li><a class="active" href="{% url 'home' %}">Home Page</a></li>
  <li><a href="{% url 'addplan' %}">Add Plan</a></li>
  <li><a href="{% url 'addnote' %}">Add Note</a></li>
  <li><a href="{% url 'myschedule_note' %}">My Schedule</a></li>
  <li><a href="{% url 'travelnotes' %}">Travel Notes</a></li>
  <li><a href="{% url 'travelplans' %}">Travel Plans</a></li>
  <ul class="right">
    <li><a href="{% url 'editprofile' %}">{{username}}</a></li>
    {% if username == 'Visitor' %}
    <li><a href="{% url 'login' %}">Login</a></li>
    <!--<li><a href="#mypopup" data-rel="popup">Login</a></li>-->
    {% endif %}
    {% if username != 'Visitor' %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
  </ul>
</ul>
{% endblock %}

{% block content %}

<div class = "row">
  <div class = "col-sm-4 box1">
    <p><a href="{% url 'addplan' %}">Add New Plan</a></p>
  </div>
  <div class = "col-sm-4 box1">
    <p><a href="{% url 'addnote' %}">Add New Note</a></p>
  </div>
  <div class = "col-sm-4 box1">
    <p><a href="{% url 'myschedule_note' %}">My Schedule</a></p>
  </div>
</div>
<div class = "row">
  <div class = "col-sm-6 box1">
    <h3><a href="{% url 'travelnotes' %}">Travel Notes</a></h3>  
    <table>
      <tr>
      {% for note in notes %}
        <div>
          <a href="{% url 'seenote' note.id %}">
            <h4>{{note.note_title}}&nbsp;</h4>
            <img src="{{note.title_image}}" width="270px">
          </a>
        </div>
      {% endfor %}
      </tr>
    </table>
</div>

  <div class = "col-sm-6 box1">
    <h3><a href="{% url 'travelplans' %}">Travel Plans</a></h3>
    {% for plan in plans %}
      <div class="box1">
          <h4><a href="{% url 'seeplan' plan.id %}"> {{plan.plan_title}}</a></h4>
      </div>
      {% endfor %}
  </div>

<div data-role="popup" id="mypopup" data-position-to="window" data-overlay-theme="b">
      <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
       <h1>Login information</h1>
        <div>
          <input type="text" name="user" id="usrnm" placeholder="Username">
          <input type="password" name="passw" id="pswd" placeholder="Password">
          <label for="log">Keep me logged in</label>
          <input type="checkbox" name="login" id="log" value="1" data-mini="true">
          <input id="login" type="submit" value="Log in">
        </div>
        {% csrf_token %}
      </form>
  </div>

{% endblock %}
