{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<title>Go Travel -- Login</title>
	<meta charset="utf-8">
	<meta name= "author" content ="Yumeng Xie">
	<link rel="stylesheet" type="text/css" href="{% static "css/gotravel.css"%}">

</head>

<body>
<div id="popupContact">
{% if form.errors %}
<p style="color:red">
Incorrect email and password.
</p>
{% endif %}

<p>
Log in:
</p>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
<table>
<tr>
    <td width = "150px">{{ form.username.label_tag }}</td>
    <td width = "150px">{{ form.username }}</td>
</tr>
<tr>
    <td width = "150px">{{ form.password.label_tag }}</td>
    <td width = "150px">{{ form.password }}</td>
</tr>
</table>
<input type="submit" id="signin" value="Sign in" /></td>
<input type="hidden" name="next" value="{{ next }}" />
{% csrf_token %}
<br>
<a href="{% url 'password_reset' %}" >Forgot your Password?</a>
<div id = "signup">
<a href="{% url 'register' %}" >Sign up</a>
</div>
</form>
</div>
</body>
</html>
