{% extends "base.html" %}

{% block navigation %}
<ul>
  <li><a href="{% url 'home' %}">Home Page</a></li>
  <li><a href="{% url 'addplan' %}">Add Plan</a></li>
  <li><a href="{% url 'addnote' %}">Add Note</a></li>
  <li><a class="active"  href="{% url 'myschedule_plan' %}">My Schedule</a></li>
  <li><a href="{% url 'travelnotes' %}">Travel Notes</a></li>
  <li><a href="{% url 'travelplans' %}">Travel Plans</a></li>
  <ul class="right">
    <li><a class="dropdown-toggle" data-toggle="dropdown">{{username}}<span class="caret"></span></a></li>
  </ul>
</ul>
{% endblock %}

{% block content %}
<div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>My Schedule</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="{% url 'myschedule_plan' %}">Plans</a></li>
        <li><a href="{% url 'myschedule_note' %}">Notes</a></li>
        <li><a href="{% url 'myschedule_favorite' %}">Favorite</a></li>
      </ul><br>
    </div>

    <div class="col-sm-9">
      <hr>
      <h4><a href="{% url 'addplan' %}"> <div class="link_black">Add New Plan</div></a></h4>
      <hr>
      {% for plan in plans %}
      <table>
        <tr>
          <td width ='700px' >
            <div class="box1">
          <h4><a href="{% url 'seeplan' plan.id %}"><div class="link_black"> {{plan.plan_title}}</div></a></h4>
          <h5><span class="glyphicon glyphicon-time"></span> {{plan.creation_time}}</h5>
        </div>
      </td>
      <td>
      <button id="plan_link"><a href="{% url 'editplan' plan.id %}">
            <div class="link">
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
          </a></button>
        </td>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button id="plan_link"><a href="{% url 'deleteplan' plan.id %}">
            <div class="link">
            <span class="glyphicon glyphicon-trash"></span>
          </div>
          </a></button>
        </td>
        </tr>
      </table>

      {% endfor %}
      <hr>
    </div>
  </div>


{% endblock %}
