{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<title>Go Travel -- Find password</title>
	<meta charset="utf-8">
	<meta name= "author" content ="Yumeng Xie">
	<link rel="stylesheet" type="text/css" href="{% static "css/gotravel.css"%}">

</head>

<body>
<div id="popupContact">
{% if form.errors %}
<p style="color:red">
Incorrect email and password.
</p>
{% endif %}

Reset password:
</p>
<form method="post" action="{% url 'password_reset' %}">
{% if form.non_field_errors %}
            <p class="error">
  	          {% for error in form.non_field_errors %}
		            {{ error }}
		          {% endfor %}
            </p>
           {% endif %}
           <!-- Iterate over the fields in a form and render them  -->
           {% for field in form %}
            <div class="form-group">
              <!-- Render the field label tag -->
		          {{ field.label_tag }}
              <!-- If the field is required, display a * next to the field label -->
              {% if field.field.required %}

              {% endif %}
              <br/>
              <!-- Render the input field -->
		          {{ field }}
		        <!-- Iterate over the field's errors, if any and display
                 them one by one in a error alert
            -->
		        {% if field.errors %}
		          <p class="error">
		          {% for error in field.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
            </div>
          {% endfor %}
<input type="submit" id="signin" value="Submit" />
<input type="hidden" name="next" value="{{ next }}" />
{% csrf_token %}
<br>
<div id = "signup">
<a href="{% url 'register' %}" >Sign up</a>
</div>
</form>
</div>
</body>
</html>
