{% extends "base.html" %}

{% block navigation %}
<ul>
  <li><a href="{% url 'editprofile' %}">Edit Profile</a></li>
  <li><a href="{% url 'home' %}">Home Page</a></li>
  <li><a href="{% url 'addplan' %}">Add Plan</a></li>
  <li><a href="{% url 'addnote' %}">Add Note</a></li>
  <li><a href="{% url 'myschedule_plan' %}">My Schedule</a></li>
  <li><a href="{% url 'travelnotes' %}">Travel Notes</a></li>
  <li><a class="active" href="{% url 'travelplans' %}">Travel Plans</a></li>
  <ul class="right">
    <li><a href="{% url 'editprofile' %}">{{username}}</a></li>
    {% if username == 'Visitor' %}
    <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    {% if username != 'Visitor' %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
  </ul>
</ul>
{% endblock %}

{% block content %}
<div class="row content">
    <div class="col-sm-8 text-left"> 
      <h2>Travel Plans</h2>
      {% for plan in result %}
      <div class="box1">
          <h4><a href="{% url 'seeplan' plan.id %}"> {{plan.plan_title}}</a></h4>
      </div>
      {% endfor %}
    </div>
    <div class="col-sm-4 sidenav">
      <h3>Search</h3>
      <form enctype="multipart/form-data" method="post" action="{% url 'searchplan' %}">
      <table>
        <tr>
        Time:<input type="date" class="form-control" placeholder="Search by a time" name='time'>
      </tr>
      <tr>
        Place: <input type="text" class="form-control" placeholder="Search by a place" name='place'>
      </tr>
      <tr>
        <input type="submit" value = "search" class="btn btn-default" >
      <tr>
      </table>
      {% csrf_token %}
      </form>
    </div>
  </div>
  
{% endblock %}
