{% extends "base.html" %}

{% block navigation %}
<ul>
  <li><a href="{% url 'home' %}">Home Page</a></li>
  <li><a href="{% url 'addplan' %}">Add Plan</a></li>
  <li><a class="active" href="{% url 'addnote' %}">Add Note</a></li>
  <li><a href="{% url 'myschedule_plan' %}">My Schedule</a></li>
  <li><a href="{% url 'travelnotes' %}">Travel Notes</a></li>
  <li><a href="{% url 'travelplans' %}">Travel Plans</a></li>
  <ul class="right">
     <div class="btn-group">
    <li><a class="dropdown-toggle" data-toggle="dropdown">{{username}}<span class="caret"></span></a></li>
    <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
    </div>
  </ul>
</ul>
{% endblock %}

{% block content %}
<div class = "row">
  <div class = "col-sm-3">
  </div>
  <div class = "col-sm-9">
    {% for error in form.non_field_errors %}
    <p style="color: red">
      {{ error }}
    </p>
    {% endfor %}

<h3>{{noteid}}</h3>

{% if note.note_title %}
<h3>{{note.note_title}}</h3>
{% endif %}
{% if note.title_image %}
<img src="{{note.title_image}}" width="800px" height="300px">
{% endif %}

{% if notedetails %}
{% for notedetail in notedetails %}
Place: {{notedetail.place}}
Time: {{notedetail.time}}
{{notedetail.content}}
{{notedetail.cost}}
{% endfor %}
{% endif %}
</div>
  <!--
  <table>
    {% for field in form.visible_fields %}
    <tr>
      <td>{{field.label_tag}}</td>
      <td>{{field}}</td>
      <td style="color: red">{{field.errors}}</td>
    </tr>
    {% endfor %}
    <tr>
    {% for field in form.hidden_fields %}
    {{field}}
    {% endfor %}
    {% csrf_token %}
  </tr>
  </table>
  <div id='NoteForm'>
  </div>
  <input type="button" value="Add A Day" onClick="addNoteForm('NoteForm','text_area')">
  <input type="button" value="Delete A Day" onClick="deleteNoteForm('NoteForm','text_area')">-->
  
<div class = "row">

 
    <div class = "col-sm-1">
    <div class = "timeline-minus">
     <p class="glyphicon glyphicon-minus" onClick="deleteNoteForm('NoteForm','text_area')"></p>
   </div>
       <hr>
       <div class = "timeline-plus">
      <p class="glyphicon glyphicon-plus" onClick="addNoteForm('NoteForm','text_area')"></p>
    </div>
  </div>
  

<div class = "col-sm-11">

<form id = "nform" enctype="multipart/form-data" method="post" action="{% url 'addnote' %}">    
    
    <ul id = "timeline" class="timeline">
        <li class="timeline-inverted">
          <div class="timeline-badge1 danger"><i class="glyphicon glyphicon-plane"></i></div>
          <div class="timeline-panel">

              <table>
                {% for field in form.visible_fields %}
                <tr >
                  <td>{{field.label_tag}}</td>
                  <td>{{field}}</td>
                  <td style="color: red">{{field.errors}}</td>
                </tr>
                {% endfor %}
                <tr>
                  {% for field in form.hidden_fields %}
                  {{field}}
                  {% endfor %}
                </tr>
              </table>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Select the tag</h4>
            </div>
            <div class="timeline-body">
              <p>
                <input type="checkbox" name="shopping" value="Shopping" checked> Shopping &nbsp;
                <input type="checkbox" name="food" value="Food" > Food &nbsp;
                <input type="checkbox" name="honeymoon" value="honeymoon" > Honeymoon &nbsp;
                <input type="checkbox" name="self-driving" value="self-driving" > Self-Driving <br>
              </p>
              <hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li> 
    </ul>
<input id="notesubmit" type="submit" value="Save Note">
<!--<button id="submit" onclick="validate_form()"> Save Note</button>-->
{% csrf_token %}
</form>
</div>
 
{% endblock %}


