{% extends "base.html" %}
{% block head_src %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM"></script>
    <script type="text/javascript" src="/static/js/USA_State.json"></script>
    <script type="text/javascript" src="/static/js/USA_County.json"></script>
    <script type="text/javascript" src="/static/js/mapProcess.js"></script>
    <script>
    set_Parameters('{% url 'search_destination' %}')
    </script>
{% endblock %}
{% block navigation %}
<ul>
  <li><a href="{% url 'home' %}">Home Page</a></li>
  <li><a class="active" href="{% url 'addplan' %}">Add Plan</a></li>
  <li><a href="{% url 'addnote' %}">Add Note</a></li>
  <li><a href="{% url 'myschedule_plan' %}">My Schedule</a></li>
  <li><a href="{% url 'travelnotes' %}">Travel Notes</a></li>
  <li><a href="{% url 'travelplans' %}">Travel Plans</a></li>
  <ul class="right">
    <li><a href="{% url 'editprofile' %}">{{username}}</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  </ul>
</ul>
{% endblock %}

{% block content %}
<div class = "row ">
    <div class = "col-sm-3" style="height: 600px; overflow: scroll">
        {% for error in form.non_field_errors %}
        <p style="color: red">
        {{ error }}
        </p>
        {% endfor %}
        <form enctype="multipart/form-data" method="post" action="{% url 'addplan' %}">
            <table class='text-left'>
                {% for field in form.visible_fields %}
                    <tr>
                        <td>{{field.label_tag}}</td>   
                    </tr>
                    <tr>
                        <td>&nbsp;{{field}}</td>
                    </tr>
                    <tr>
                        <td ><div class="error">{{field.errors}}</div></td>
                    </tr>
                {% endfor %}
            </table>
            {% for field in form.hidden_fields %}
                {{field}}
            {% endfor %}
            {% csrf_token %}
            <div id='PlanForm'></div>
            <!--<input type="button" value="Add A Day" onClick="addPlanForm('PlanForm')">
            <input type= "button" value="Delete A Day" onClick="deletePlanForm('PlanForm')">-->
            <input id='submit' type="submit" value="Save Plan">
        </form>
    </div>
    <div class = "col-sm-6 ">
        <div id="map_canvas" style="height:500px;"></div>
        <div class = "box1" style="width:100%">
            County: <input type="text" id="county" style="width:30%;padding-left:10px">
            State: <input type="text" id="state" style="width:20%;padding-left:10px">
            <select name="places" id="destination">
                <option value="museum">Museum</option>
                <option value="park">Park</option>
                <option value="theater">Theater</option>
                <option value="restaurant">Restaurant</option>
                <option value="zoo">Zoo</option>
                <option value="hotel">Hotel</option>
            </select>
            <button id="submit" onclick="findPlace()">Search</button>
        </div>
    </div>
    <div class = "col-sm-3 " id="add_plan_search_places" style="height: 600px; overflow: scroll"></div>
</div>
<div class = "timeline-pminus">
    <p class="glyphicon glyphicon-minus" onClick="deletePlanForm('PlanForm')"></p>
</div>
<div class = "timeline-pplus">
    <p class="glyphicon glyphicon-plus" onClick="isFilled('PlanForm')"></p>
</div>
{% endblock %}
