{% extends "base.html" %}

{% block navigation %}
<ul>
  <li><a href="{% url 'home' %}">Home Page</a></li>
  <li><a href="{% url 'addplan' %}">Add Plan</a></li>
  <li><a href="{% url 'addnote' %}">Add Note</a></li>
  <li><a class="active" >My Schedule</a></li>
  <li><a href="{% url 'travelnotes' %}">Travel Notes</a></li>
  <li><a href="{% url 'travelplans' %}">Travel Plans</a></li>
  <ul class="right">
    <li><a href="{% url 'editprofile' %}">{{username}}</a></li>
    {% if username == 'Visitor' %}
    <li><a href="{% url 'login' %}">Login</a></li>
    <!--<li><a href="#mypopup" data-rel="popup">Login</a></li>-->
    {% endif %}
    {% if username != 'Visitor' %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
  </ul>
</ul>
{% endblock %}

{% block content %}
<div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>My Schedule</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'myschedule_plan' %}">Plans</a></li>
        <li><a href="{% url 'myschedule_note' %}">Notes</a></li>
        <li class="active"><a href="{% url 'myschedule_favorite' %}">Favorite</a></li>
      </ul><br>
      
    </div>
    <div class="col-sm-5">
      <hr>
      <h4>Favorite Note</h4>
      <hr>
      <table>
      {% for note in notes %}
      <tr>
        <td>
          <a href="{% url 'seenote' note.id %}">
            <h4>{{note.note_title}}&nbsp;</h4>
            <h5><span class="glyphicon glyphicon-time"></span> {{note.creation_time}}</h5>
            <img src="{{note.title_image}}" width="270px">
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-sm-4">
      <hr>
      <h4>Favorite Plan</h4>
      <hr>
      <table>
      {% for plan in plans %}
      <tr>
        <td>
          <a href="{% url 'seeplan' plan.id %}">
            <h4>{{plan.plan_title}}&nbsp;</h4>
            <h5><span class="glyphicon glyphicon-time"></span> {{plan.creation_time}}</h5>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    </div>
  </div>


{% endblock %}
