{% extends "base.html" %}

{% block navigation %}
<ul>
  <li><a href="{% url 'home' %}">Home Page</a></li>
  <li><a href="{% url 'addplan' %}">Add Plan</a></li>
  <li><a href="{% url 'addnote' %}">Add Note</a></li>
  <li><a href="{% url 'myschedule_plan' %}">My Schedule</a></li>
  <li><a class="active" href="{% url 'travelnotes' %}">Travel Notes</a></li>
  <li><a href="{% url 'travelplans' %}">Travel Plans</a></li>
  <ul class="right">
    <li><a href="{% url 'editprofile' %}">{{username}}</a></li>
    {% if username == 'Visitor' %}
    <li><a href="{% url 'login' %}">Sign in</a></li>
    <li><a href="{% url 'register' %}">Sign up</a></li>
    {% endif %}
    {% if username != 'Visitor' %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
  </ul>
</ul>
{% endblock %}

{% block content %}
<div class="row content">
    <div class="col-sm-8 note_content">
      {% if message %}
      <p style="color: red">
      {{message}}
    </p>
      {% endif %}
      <br>
      {% for note in result %}
      <div class="col-sm-6">
      <table>
      <tr>
          <a href="{% url 'seenote' note.id %}">
            <div class="imgWrap">
              <img class="img-rounded" src="{{note.title_image}}" width="380px" height="240px">
              <p class="imgDescription">
                <br>
                &nbsp;&nbsp;<img class="img-circle" src='{{note.owner.profile.image_url}}' width="60px">
                &nbsp;{{note.note_title}}
                </p>
            </div>
          </a>
          <br>
          <br>
      </tr>
       </table>
     </div>
      {% endfor %}
   
    </div>
   <div class="col-sm-4 sidenav">
      <h3>Search</h3>
      <form id="searchform" enctype="multipart/form-data" method="post" action="{% url 'searchnote' %}">
        <table>
        <tr>
          <td valign="bottom">Keyword &nbsp;&nbsp; </td>
        <td ><input type="text" class="form-control" placeholder="Your keyword" name='keyword'></td>
      </tr>
      <div class="input-group">
      <tr>
        <td valign="bottom">Order By &nbsp;&nbsp;</td>
        <td>
        <select id="select" name="order" form="searchform">
        <!--<option value="0" disabled selected hidden>Please Choose...</option>-->
        <option value="0">Time</option>
        <option value="1">Evaluation</option>
        <option value="2">Cost</option>
        </select>
      </td>
    </tr>
     <tr>
        <td valign="bottom">Tag &nbsp;&nbsp;</td>
        <td>
        <select id="select" name="tag" form="searchform">
        <!--<option value="0" disabled selected hidden>Please Choose...</option>-->
        <option value=""></option>
        <option value="Shopping">Shopping</option>
        <option value="Graduation Trip">Graduation Trip</option>
        <option value="Food">Food</option>
        <option value="Honeymoon">Honeymoon</option>
        <option value="Self-driving">Self-driving</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
          <input id = "submit" type="submit" value = "search" >
        </td>
      </tr>
        </table>
      </div>
      {% csrf_token %}
      </form>
      
      <style>
      select:invalid { color: gray; }
      </style>
     
    </div>
  </div>
  
{% endblock %}