{% extends "base.html" %}

{% block navigation %}
<ul>
  <li><a href="{% url 'home' %}">Home Page</a></li>
  <li><a href="{% url 'addplan' %}">Add Plan</a></li>
  <li><a href="{% url 'addnote' %}">Add Note</a></li>
  <li><a href="{% url 'myschedule_plan' %}">My Schedule</a></li>
  <li><a href="{% url 'travelnotes' %}">Travel Notes</a></li>
  <li><a class="active" href="{% url 'travelplans' %}">Travel Plans</a></li>
  <ul class="right">
    <li><a href="{% url 'editprofile' %}">{{username}}</a></li>
    {% if username == 'Visitor' %}
    <li><a href="{% url 'login' %}">Sign in</a></li>
    <li><a href="{% url 'register' %}">Sign up</a></li>
    {% endif %}
    {% if username != 'Visitor' %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
  </ul>
</ul>
{% endblock %}

{% block content %}
<div class="row content">
    <div class="col-sm-8 text-left"> 
      {% if message %}
      <p style="color: red">
      {{message}}
    </p>
      {% endif %}
      <br>
      {% for plan in result %}
      <a href="{% url 'seeplan' plan.id %}">
      <div class="col-sm-6">
          <img class="img-circle" src="{{plan.owner.profile.image_url}}" width="140" height="140">
          <div class="link_black">
          <h3>{{plan.plan_title}}</h3>
          <p>Total days:&nbsp;{{plan.total_day}}<br>{{plan.intro}}</p>
        </div>
          <br>
        </div><!-- /.col-lg-4 -->
      </a>
      {% endfor %}
    </div>
    <div class="col-sm-4 sidenav">
      <h3>Search</h3>
      <form id='searchpform' enctype="multipart/form-data" method="post" action="{% url 'searchplan' %}">
      <table>
        <tr>
          <td>
        Time &nbsp;&nbsp;
      </td>
      <td><input id="new_date" type="date" class="form-control" placeholder="Search by a time" name='time'>
      </td>
      </tr>
      <tr>
        <td valign="bottom">Time Range(Days) &nbsp;&nbsp;</td>
        <td>
        <select id="select" name="time_range" form="searchpform">
        <!--<option value="0" disabled selected hidden>Please Choose...</option>-->
        <option value="0">0</option>
        <option value="1">2</option>
        <option value="2">4</option>
        </select>
      </td>
    </tr>
      <tr>
        <td>
        Location &nbsp;&nbsp;
      </td>
      <td><input type="text" class="form-control" placeholder="Search by a place" name='place'>
      </td>
      </tr>
      <tr>
        <td colspan="2">
        <input id="submit" type="submit" value = "search">
      </td>
      <tr>
      </table>
      {% csrf_token %}
      </form>
    </div>
  
{% endblock %}
