{% extends "base.html" %}

{% block navigation %}
<ul>
  <li><a href="{% url 'home' %}">Home Page</a></li>
  <li><a href="{% url 'addplan' %}">Add Plan</a></li>
  <li><a href="{% url 'addnote' %}">Add Note</a></li>
  <li><a href="{% url 'myschedule_plan' %}">My Schedule</a></li>
  <li><a href="{% url 'travelnotes' %}">Travel Notes</a></li>
  <li><a href="{% url 'travelplans' %}">Travel Plans</a></li>
  <ul class="right">
    <li><a href="{% url 'editprofile' %}">{{username}}</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  </ul>
</ul>
{% endblock %}

{% block content %}
<div class="row content">
    <div class="col-sm-3 sidenav">
      <hr>
 <table class="text-center">
<tr>
  <td>
    {% if new_user.profile.image_url %}
    <img src="{{new_user.profile.image_url}}" width="200px">
    {% endif %}
  </td>
</tr>
<tr>
  <td>
    <strong>{{username}}</strong>
  </td>
</tr>
<tr>
  <td>Gender: {{username.profile.gender}}</td>
</tr>
<tr>
  <td>Age: {{username.profile.age}}</td>
</tr>
<tr>
  <td>Email: {{username.email}}</td>
</tr>
<tr>
  <td>Bio: {{username.profile.bio}}</td>
</tr>
</table>
    </div>
    <div class="col-sm-9">
      <div class="image">
      {% if note.title_image %}
      <img src="{{note.title_image}}" width="800px" height="200px">
      <h2><span>{{note.note_title}}</span></h2>
       {% endif %}
      </div>
       <h5><span class="glyphicon glyphicon-time"></span> {{note.creation_time}}
        {% if note.tag %}
        &nbsp;&nbsp;<span class="glyphicon glyphicon-tag"></span> &nbsp;{{note.tag}}
        {% endif %} 
        <br></h5>
        <p> Total Cost: {{note.total_cost}}</p>
        <div id='note_table'>
      <table>
        <tr>
          <td>
           <button id="like" onClick="addlike({{note.id}})">
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </button>
         </td>
         <td>
          <div id="likes">
         &nbsp;{{note.likes}} &nbsp;
       </div>
         </td>
         <td><button id="dislike" onClick="adddislike({{note.id}})">
         <span class="glyphicon glyphicon-thumbs-down"></span>
       </button>
         </td>
         <td>
          <div id="dislikes">
         &nbsp;{{note.dislikes}} &nbsp;
         </div>
         </td>
         <td><button id="favorite" onClick="addfavorite({{note.id}})">
         <span class="glyphicon glyphicon-heart"></span>
       </button>
         </td>
         <td>
          <div id="favorites">
         &nbsp;{{note.followers}} &nbsp;
         </div>
         </td>
       </tr>
     </table>
   </div>

      <hr>
      {% for detail in alldetail %}
      <p><span class="day"> {{detail.time}} </span></p>
      <br><br><br>
      <div id="note_content">
        <p> <span class="note_place"> Place: &nbsp;{{detail.place}} </span><span class="note_cost"> Cost:&nbsp; {{detail.cost}}</span></p>
        <br>
        <p class="note_content"><br>{{detail.content}}
        </p>
          {% for image in detail.noteimage.all %}
          <br>
          <img class="note_image" src="{{image.picture}}" width="500px">
          {% endfor %}

       <hr>
      {% endfor %}
      <br>
      </div>
    </div>
  </div>

{% endblock %}
