{% extends "base.html" %}

{% block navigation %}
<ul>
  <li><a href="{% url 'home' %}">Home Page</a></li>
  <li><a href="{% url 'addplan' %}">Add Plan</a></li>
  <li><a href="{% url 'addnote' %}">Add Note</a></li>
  <li><a href="{% url 'myschedule_plan' %}">My Schedule</a></li>
  <li><a href="{% url 'travelnotes' %}">Travel Notes</a></li>
  <li><a href="{% url 'travelplans' %}">Travel Plans</a></li>
  <ul class="right">
    <li><a href="{% url 'editprofile' %}">{{username}}</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  </ul>
</ul>
{% endblock %}

{% block content %}
<div class="row content">
    <div class="col-sm-3 sidenav">
      <hr>
 <table class="text-center">
<tr>
  <td>
    {% if new_user.profile.image_url %}
    &nbsp;&nbsp;&nbsp;
    <img class="img-circle" src="{{new_user.profile.image_url}}" width="200px" height="200px">
    {% endif %}
  </td>
</tr>
<tr>
  <td>
    <strong>{{username}}</strong>
  </td>
</tr>
<tr>
  <td>Gender: {{username.profile.gender}}</td>
</tr>
<tr>
  <td>Age: {{username.profile.age}}</td>
</tr>
<tr>
  <td>Email: {{username.email}}</td>
</tr>
<tr>
  <td>Bio: {{username.profile.bio}}</td>
</tr>
<tr>
  <td>
    <button id="pop" onclick="div_show()" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">Invite</button>
</td>
</tr>
 </table>
</div>
    <div class="col-sm-9">
      <h1>{{plan.plan_title}}</h1>
      <h5><span class="glyphicon glyphicon-time"></span>{{plan.creation_time}}</h5>
      <div id='plan_table'>
       <table>
        <tr>
          <td>
           <button id="like" onClick="addplike({{plan.id}})">
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </button>
         </td>
         <td>
          <div id="likes">
         &nbsp;{{plan.likes}} &nbsp;
       </div>
         </td>
         <td><button id="dislike" onClick="addpdislike({{plan.id}})">
         <span class="glyphicon glyphicon-thumbs-down"></span>
       </button>
         </td>
         <td>
          <div id="dislikes">
         &nbsp;{{plan.dislikes}} &nbsp;
         </div>
         </td>
         <td><button id="favorite" onClick="addpfavorite({{plan.id}})">
         <span class="glyphicon glyphicon-heart"></span>
       </button>
         </td>
         <td>
          <div id="favorites">
         &nbsp;{{plan.followers}} &nbsp;
         </div>
         </td>
       </tr>
     </table>
   </div>
    <hr>
      <p >
      Total Days: {{plan.total_day}} <br>
      Brief Introduction: {{plan.intro}}
      </p>
        <hr>
      {% for detail in alldetail %}
      <p><span class="day"> {{detail.time}} </span></p>
      <br><br><br>
        <p class="plan_content">
          <br><b>Scenic Spot:</b> &nbsp;&nbsp;{{detail.place}}
          <br><b>Address:</b> &nbsp;&nbsp;{{detail.address}}
          <br><b>Plan for Today:</b><br>{{detail.content}}
        </p>

       <hr>
      {% endfor %}

      
<div id="abc">
<!-- Popup Div Starts Here -->
<div id="popupContact">
<!-- Contact Us Form -->
<form action="{% url 'invite' plan.id %}" id="form" method="post" name="form">
<img id="close" src="/static/images/31.png" onclick ="div_hide()">
<h1>Travel Together</h1>
<hr>
<input id="name" name="name" placeholder="Your Name" type="text">
<input id="email" name="email" placeholder="Your Email" type="text">
<textarea id="msg" name="message" placeholder="Message"></textarea>
<!-- <input id="submit" type="submit" value="Save">-->
<a href="javascript:%20check_empty()" id="submit">Send</a> 
{% csrf_token %}
</form>
</div>
</div>

   </div>
  </div>
{% endblock %}
